.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add a subtle shadow */
  transition: 0.3s; /* Smooth transition on hover */
  width: 300px; /* Adjust as needed */
  border-radius: 5px; /* Round the corners */
  overflow: hidden; /* Hide overflow content */
  flex-basis: 50%;
  flex-grow: 1;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Deeper shadow on hover */
  cursor: pointer;
}

.container {
  padding: 16px; /* Add some padding inside the card */
}

.card img {
  /* width: 100%; Make the image fill the card width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent extra space below the image */
}